popover {
    .mnuitem{
        color: #222!important;
        background-color: #a9a2a2!important;
    }
    .mnuitem, .mnuitem button {
        color: #222!important;
        background-color: #a9a2a2!important;
    }
}
