<ion-list no-margin no-padding>
    <ion-item class="mnuitem" *ngIf="!loggedIn">
        <button ion-item (click)="login()">{{'Login' | Language}}</button>
    </ion-item>
    <ion-item class="mnuitem" *ngIf="loggedIn">
        <button ion-item (click)="logout()">{{'Logout' | Language}}</button>
    </ion-item>
    <ion-item class="mnuitem" *ngIf="loggedIn">
        <button ion-item (click)="goToAlerts()">{{'Alerts' | Language}}</button>
    </ion-item>
    <ion-item class="mnuitem">
        <button ion-item (click)="goToSettings()">{{'Change Language' | Language}}</button>
    </ion-item>
    <ion-item class="mnuitem">
        <button ion-item (click)="goToAbout()">{{'About Us title' | Language}}</button>
    </ion-item>
    <ion-item class="mnuitem" *ngIf="loggedIn&&(Session?.result.UserAccounts.length>0)">
        <button ion-item  (click)="gotoSwitch()">{{'SwitchAccounts' | Language}}</button>
    </ion-item>
</ion-list>