<!--component html goes here -->

<ion-header>
    <ion-navbar>
        <ion-title>{{'Login'|translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <form *ngIf="!token" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
            <ion-label>{{'Username' | translate}}</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'Password' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <br>
        <br>
        <button ion-button block type="submit">{{'Login'|translate}}</button>
    </form>
    <ion-item *ngIf="token">
        <h3> You are already logged in! </h3>
    </ion-item>
</ion-content>