<!-- Generated template for the CustNavComponent component -->
    <ion-navbar>
        <ion-title >
                <ion-icon *ngIf="!this.marketservice.MarketStatus.Status=='Open'" name="circle" color="green"></ion-icon>
                <ion-icon *ngIf="this.marketservice.MarketStatus.Status=='Close'" name="circle" color="red"></ion-icon> 
            <label style="font-size: 1.16rem">{{this.marketservice.MarketStatus.Time}}</label>
            {{title}}
        </ion-title>
        <ion-buttons end>
  
            <button clear ion-button item-end icon-only *ngFor="let b of Visablebuttons() " 
            [ngStyle]="{'color': b.IconColor}" (click)="addNewEntry(b.BName)">
                <ion-icon name="{{b.IconName}}"></ion-icon>
            </button>      
            <button clear ion-button item-end icon-only (click)="presentPopover($event)">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
