page-market {
}
.RowDown{
    color:red !important; 
    font-weight: bolder !important; 
}
.RowUp{
    color:#32db64 !important; 
    font-weight: bolder !important; 
}
.Selected{
    background-color:#4e4d4d; 
    //color:red !important; 
}