<ion-header>
    <ion-navbar>
        <ion-title>
            {{'Market' | Language}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="Indices&&BP&&WP&&BV">
    <ion-item style="margin-top: 10%;">
        <h2 style="text-align:center;"> {{'Indices'|Language}}</h2>
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col>
                <p style="font-size:0.8em">{{'Reuter'|Language}}</p>
            </ion-col>
            <ion-col col>
                <p style="font-size:0.8em">{{'Value' |Language}}</p>
            </ion-col>
            <ion-col col>
                <p style="font-size:0.8em">{{'Change' |Language}}</p>
            </ion-col>
            <ion-col col>
                <p style="font-size:0.8em">{{'Percentage' | Language}}</p>
            </ion-col>
            <ion-col col *ngIf="!this.isSmall">
                <p style="font-size:0.8em">{{'TurnOver' | Language}}</p>
            </ion-col>
            <ion-col col *ngIf="!this.isSmall">
                <p style="font-size:0.8em">{{'Volume' | Language}}</p>
            </ion-col>
            <!-- <ion-col  col>
                <p style="font-size:0.8em">{{'Trend' | Language}}</p>
            </ion-col> -->
        </ion-row>
         <ion-buttons *ngIf="EGX30 && EGX70 && EGX100">
            <button ion-button [clear]=!show30 full (click)="showHideChart(0)" [ngClass]="['button-border',egx30Selected , egx30DirRow]">
                <ion-col col style="color:#e67e22;font-weight: bold;"> {{EGX30?.result[0][0]}}</ion-col><!--ReutersCode-->
                <ion-col col [ngClass]="egx30Dir"> {{EGX30?.result[0][1]}}</ion-col><!--LastTrade-->
                <ion-col col> {{EGX30?.result[0][2]}}</ion-col><!--NetChange-->
                <ion-col col> {{EGX30?.result[0][3]}}</ion-col><!--PercentageChange-->
                <ion-col col *ngIf="!this.isSmall"> {{EGX30?.result[0][4] | aroundTo: 0}}</ion-col><!--TurnOver-->
                <ion-col col *ngIf="!this.isSmall"> {{EGX30?.result[0][5] | aroundTo: 0}}</ion-col><!--Volume-->
                <!-- <ion-col col>
                    <ion-icon right *ngIf="EGX30?.result[0][2]>0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX30?.result[0][2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col> -->
            </button>
<!-- <hr style="background-color: orange"/> -->
            <button ion-button [clear]=!show70 full (click)="showHideChart(1)" [ngClass]="['button-border',egx70Selected , egx70DirRow]">
                <ion-col col style="color:#e67e22;font-weight: bold;"> {{EGX70?.result[0][0]}} </ion-col>
                <ion-col col [ngClass]="egx70Dir"> {{EGX70?.result[0][1]}}</ion-col>
                <ion-col col> {{EGX70?.result[0][2]}}</ion-col>
                <ion-col col> {{EGX70?.result[0][3]}}</ion-col>
                <ion-col col *ngIf="!this.isSmall"> {{EGX70?.result[0][4] | aroundTo: 0}}</ion-col>
                <ion-col col *ngIf="!this.isSmall"> {{EGX70?.result[0][5] | aroundTo: 0}}</ion-col>
                <!-- <ion-col  col>
                    <ion-icon right *ngIf="EGX70?.result[0][2]> 0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX70?.result[0][2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col> -->
            </button>
<!-- <hr style="background-color: orange"/> -->
            <button ion-button [clear]=!show100  full (click)="showHideChart(2)" [ngClass]="['button-border',egx100Selected , egx100DirRow]">
                <ion-col col style="color:#e67e22;font-weight: bold;"> {{EGX100?.result[0][0]}} </ion-col>
                <ion-col col [ngClass]="egx100Dir"> {{EGX100?.result[0][1]}}</ion-col>
                <ion-col col> {{EGX100?.result[0][2]}}</ion-col>
                <ion-col col> {{EGX100?.result[0][3]}}</ion-col>
                <ion-col col *ngIf="!this.isSmall"> {{EGX100?.result[0][4] | aroundTo: 0}}</ion-col>
                <ion-col col *ngIf="!this.isSmall"> {{EGX100?.result[0][5] | aroundTo: 0}}</ion-col>
                <!-- <ion-col  col>
                    <ion-icon right *ngIf="EGX100?.result[0][2]> 0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX100?.result[0][2] < 0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col> -->
            </button>
        </ion-buttons>
        <ion-item *ngIf="EGX30">
            <ion-segment [(ngModel)]="ChartParts">
                <ion-segment-button value="IntraDay" (click)="showIntraDays()">
                    <!-- <ion-icon name="cart" item-start></ion-icon> -->
                    Intra
                </ion-segment-button>
                <ion-segment-button value="Historical" (click)="showHistoricalDays()">
                    <!-- <ion-icon name="cart"></ion-icon> -->
                    Hist
                </ion-segment-button>
            </ion-segment>

            <page-chart *ngIf="lastFveDays && show30"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX30.result[0][0]">
            </page-chart>
            <page-chart *ngIf="!lastFveDays && show30"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX30.result[0][0]">
            </page-chart>

            <page-chart *ngIf="lastFveDays && show70"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX70.result[0][0]">
            </page-chart>
            <page-chart *ngIf="lastFveDays && show70"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX70.result[0][0]">
            </page-chart>

            <page-chart *ngIf="!lastFveDays && show100"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX100.result[0][0]">
            </page-chart>
            <page-chart *ngIf="lastFveDays && show100"  [isIntraDays] = "isIntraDays" [rouiterCode]="EGX100.result[0][0]">
            </page-chart>
        </ion-item>
    </ion-item>


    <ion-segment padding [(ngModel)]="SelectedPerform">
        <ion-segment-button value="BP" (click)="setPerform('BP')">
            <ion-icon name="ios-thumbs-up-outline" item-start></ion-icon>
            Best Prices
            <!-- {{'BP' | Language}} -->
        </ion-segment-button>
        <ion-segment-button value="BV" (click)="setPerform('BV')">
            <ion-icon name="thumbs-up"></ion-icon>
            Best Volums<!-- {{'BV' | Language}} -->
        </ion-segment-button>
        <ion-segment-button value="WP" (click)="setPerform('WP')">
            <ion-icon name="ios-thumbs-down-outline" color="danger"></ion-icon>
            Worst prices<!-- {{'WP' | Language}} -->
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="SelectedPerform">
    <ion-item *ngSwitchCase="'BP'">
        <!-- <h2 style="text-align:center">{{'BP' | Language}}</h2> -->
        <ion-item>
            <ion-row *ngIf="!this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language | limitTo:5}}</p>
                </ion-col>
                <!-- <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language | limitTo:5}}</p>
                </ion-col> -->
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language | limitTo:5}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngFor="let x of BP?.result; let i=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="row">
            <button clear class="full"  (click)="setstockchosen(x[0])">
                <ion-row>
                    <ion-col  style="color:#e67e22;font-weight: bold;">{{x[0]}}</ion-col>
                    <!-- <ion-col *ngIf="x[0]>x[5]"  style="color:green">{{x[0]}}</ion-col>
                    <ion-col *ngIf="x[0]<x[5]"  style="color:red">{{x[0]}}</ion-col> -->
                    <ion-col *ngIf="x[0]==x[5]">{{x[1]}}</ion-col>
                    
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]==0">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]==0">{{x[3]}}</ion-col>
                    <ion-col  col>
                            <ion-icon *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                            <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                    </ion-col>                        
                </ion-row>
                <!-- <ion-row>
                    <ion-col style="color:#228EE6">
                        {{x[4]}}
                    </ion-col>
                </ion-row> -->
            </button>   
        </ion-item>                     
    </ion-item>
    <ion-item *ngSwitchCase="'BV'">
        <!-- <h2 style="text-align:center">{{'BV' | Language}}</h2> -->
        <ion-item>
            <ion-row *ngIf="!this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language}}</p>
                </ion-col>
                <!-- <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language}}</p>
                </ion-col> -->
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language | limitTo:5}}</p>
                </ion-col>
                <!-- <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language | limitTo:5}}</p>
                </ion-col> -->
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language | limitTo:5}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngFor="let x of BV?.result; let i=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="row">
            <button clear class="full"  (click)="setstockchosen(x[0])">
                <ion-row>
                    <ion-col  style="color:#e67e22;font-weight: bold;">{{x[0]}}</ion-col>
                    <!-- <ion-col *ngIf="x[0]>x[5]"  style="color:green">{{x[0]}}</ion-col>
                    <ion-col *ngIf="x[0]<x[5]"  style="color:red">{{x[0]}}</ion-col> -->
                    <ion-col *ngIf="x[0]==x[5]">{{x[1]}}</ion-col>
                    
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]==0">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]==0">{{x[3]}}</ion-col>
                    <ion-col  col>
                            <ion-icon *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                            <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                    </ion-col>                        
                </ion-row>
                <!-- <ion-row>
                    <ion-col style="color:#228EE6">
                        {{x[4]}}
                    </ion-col>
                </ion-row> -->
            </button>   
        </ion-item>                     
    </ion-item>
    <ion-item *ngSwitchCase="'WP'" style="margin-bottom: 3%">
        <!-- <h2 style="text-align:center">{{'WP' | Language}}</h2> -->
        <ion-item>
            <ion-row *ngIf="!this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language}}</p>
                </ion-col>
                <!-- <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language}}</p>
                </ion-col> -->
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.isSmall">
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Reuter'|Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Value' |Language | limitTo:5}}</p>
                </ion-col>
                <ion-col col>
                    <p style="font-size:0.8em">{{'Change' |Language | limitTo:5}}</p>
                </ion-col>
                <!-- <ion-col col>
                    <p style="font-size:0.8em">{{'Percentage' | Language | limitTo:5}}</p>
                </ion-col> -->
                <ion-col col>
                    <p style="font-size:0.8em">{{'Trend' | Language | limitTo:5}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngFor="let x of WP?.result; let i=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="row">
            <button clear class="full"  (click)="setstockchosen(x[0])">
                <ion-row>
                    <ion-col  style="color:#e67e22;font-weight: bold;">{{x[0]}}</ion-col>
                    <!-- <ion-col *ngIf="x[0]>x[5]"  style="color:green">{{x[0]}}</ion-col>
                    <ion-col *ngIf="x[0]<x[5]"  style="color:red">{{x[0]}}</ion-col> -->
                    <ion-col *ngIf="x[0]==x[5]">{{x[1]}}</ion-col>
                    
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]>0"  style="color:#32db64; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]<0"  style="color:red; font-weight: bolder;">{{x[3]}}</ion-col>

                    <ion-col  *ngIf="x[2]==0">{{x[2]}}</ion-col>
                    <ion-col  *ngIf="x[2]==0">{{x[3]}}</ion-col>
                    <ion-col  col>
                            <ion-icon *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                            <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                    </ion-col>                        
                </ion-row>
                <!-- <ion-row>
                    <ion-col style="color:#228EE6">
                        {{x[4]}}
                    </ion-col>
                </ion-row> -->
            </button>   
        </ion-item>                     
             
    </ion-item>
    </div>
</ion-content>
