page-market {
    ion-item , ion-label{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .item-inner ,.label{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .label-md{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
.RowDown{
    color:red !important; 
    font-weight: bolder !important; 
}
.RowUp{
    color:#32db64 !important; 
    font-weight: bolder !important; 
}
.Selected{
    background-color:#242424; 
    //color:red !important; 
}

