<ion-header>
    <ion-navbar>
        <ion-title>
            {{'Market' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="Indices&&BP&&WP&&BV">
    <ion-item style="margin-bottom: 3%">
        <h1 style="text-align:center; margin-top:5%"> {{'Indices'|translate}}</h1>
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col>
                <p>{{'Reuter'|translate}}</p>
            </ion-col>
            <ion-col col>
                <p>{{'Value' |translate}}</p>
            </ion-col>
            <ion-col col>
                <p>{{'Change' |translate}}</p>
            </ion-col>
            <ion-col col *ngIf="this.isSmall">
                <p>{{'Percentage' | translate}}</p>
            </ion-col>
            <ion-col col *ngIf="this.isSmall">
                <p>{{'Trend' | translate}}</p>
            </ion-col>
        </ion-row>
        <ion-buttons *ngIf="EGX30&&EGX70&&EGX100">
            <!-- <button ion-button (click)="showHideChart(i)" full color="dark">
   {{  x?.result[0][0]+'        '+x?.result[0][1]+'            '+x?.result[0][2]+'   '+x?.result[0][3]+'  '+x?.result[0][4]+'   '+x?.result[0][5]}}
  </button> -->
            <button ion-button full clear (click)="showHideChart(0)">
                <ion-col  col> {{EGX30?.result[0][0]}} </ion-col>
                <ion-col col> {{EGX30?.result[0][1]}}</ion-col>
                <ion-col col> {{EGX30?.result[0][2]}}</ion-col>
                <ion-col  col> {{EGX30?.result[0][3]}}</ion-col>
                <!-- <ion-col  col> {{EGX30?.result[0][4]}}</ion-col>
                <ion-col  col> {{EGX30?.result[0][5]}}</ion-col> -->
                <ion-col  col>
                    <ion-icon right *ngIf="EGX30?.result[0][2]>0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX30?.result[0][2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>

            <button ion-button full clear (click)="showHideChart(1)">
                <ion-col  col> {{EGX70?.result[0][0]}} </ion-col>
                <ion-col col> {{EGX70?.result[0][1]}}</ion-col>
                <ion-col col> {{EGX70?.result[0][2]}}</ion-col>
                <ion-col  col> {{EGX70?.result[0][3]}}</ion-col>
                <!-- <ion-col  col> {{EGX70?.result[0][4]}}</ion-col>
                <ion-col  col> {{EGX70?.result[0][5]}}</ion-col> -->
                <ion-col  col>
                    <ion-icon right *ngIf="EGX70?.result[0][2]> 0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX70?.result[0][2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>


            <button ion-button full clear (click)="showHideChart(2)">
                <ion-col  col> {{EGX100?.result[0][0]}} </ion-col>
                <ion-col col> {{EGX100?.result[0][1]}}</ion-col>
                <ion-col col> {{EGX100?.result[0][2]}}</ion-col>
                <ion-col  col> {{EGX100?.result[0][3]}}</ion-col>
                <!-- <ion-col  col> {{EGX100?.result[0][4]}}</ion-col>
                <ion-col  col> {{EGX100?.result[0][5]}}</ion-col> -->
                <ion-col  col>
                    <ion-icon right *ngIf="EGX100?.result[0][2]> 0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="EGX100?.result[0][2] < 0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>
        </ion-buttons>
        <ion-item *ngIf="showChart&&EGX30&&EGX70&&EGX100">
            <ion-buttons>
                <button ion-button (click)="showLastFiveDays()" [disabled]="lastFveDays">
                    Last five days
            </button>
                <button ion-button (click)="showLastFiveDays()" [disabled]="!lastFveDays">
                 Last year
                </button>
            </ion-buttons>
            <page-chart [hidden]="!(lastFveDays&&!show70&&!show100)" [lastFiveDays]=true [rouiterCode]="EGX30.result[0][0]"></page-chart>
            <page-chart [hidden]="lastFveDays||show70||show100" [lastFiveDays]=false [rouiterCode]="EGX30.result[0][0]"></page-chart>
            <page-chart [hidden]="!(lastFveDays&&!show30&&!show100)" [lastFiveDays]=true [rouiterCode]="EGX70.result[0][0]"></page-chart>
            <page-chart [hidden]="lastFveDays||show30||show100" [lastFiveDays]=false [rouiterCode]="EGX70.result[0][0]"></page-chart>
            <page-chart [hidden]="!(lastFveDays&&!show30&&!show70)" [lastFiveDays]=true [rouiterCode]="EGX100.result[0][0]"></page-chart>
            <page-chart [hidden]="lastFveDays||show30||show70" [lastFiveDays]=false [rouiterCode]="EGX100.result[0][0]"></page-chart>


        </ion-item>
    </ion-item>

    <ion-item style="margin-top: 1%">
        <h1 style="text-align:center">{{'BP' | translate}}</h1>
        <ion-item>
            <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p>{{'Reuter' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Value' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Change' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Percentage' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Trend' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-buttons style="margin-top: 3%" *ngFor="let x of BP?.result">
            <button ion-button full clear (click)="setstockchosen(x[0])">
                <ion-col class="myCol"  col> {{x[0]}} </ion-col>
                <ion-col class="myCol"  col> {{x[1]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]<0" style="color:red"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]<0 "col style="color:red"> {{x[3]}}</ion-col>
                  <ion-col class="myCol"  col *ngIf="x[2]>0" style="color:green"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]>0 "col style="color:green"> {{x[3]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]==0" > {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]==0 "col > {{x[3]}}</ion-col>
                <ion-col  col>
                    <ion-icon right *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>
        </ion-buttons>
    </ion-item>
    <ion-item>
        <h1 style="text-align:center">{{'BV' | translate}}</h1>
        <ion-item>
            <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p>{{'Reuter' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{Value | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Change' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Percentage' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Trend' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-buttons style="margin-top: 3%" *ngFor="let x of BV?.result">
            <!-- <button ion-button full color="dark" (click)="setstockchosen(x[0])">
   {{  x[0]+'        '+x[1]+'            '+x[2]+'   '+x[3]}}
  </button> -->
            <button ion-button full clear (click)="setstockchosen(x[0])">
                <ion-col class="myCol"  col> {{x[0]}} </ion-col>
                <ion-col class="myCol"  col> {{x[1]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]<0" style="color:red"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]<0 "col style="color:red"> {{x[3]}}</ion-col>
                  <ion-col class="myCol"  col *ngIf="x[2]>0" style="color:green"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]>0 "col style="color:green"> {{x[3]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]==0" > {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]==0 "col > {{x[3]}}</ion-col>
                <ion-col  col>
                    <ion-icon right *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>
        </ion-buttons>
    </ion-item>
    <ion-item style="margin-bottom: 3%">
        <h1 style="text-align:center">{{'WP' | translate}}</h1>
        <ion-item>
            <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col>
                    <p>{{'Reuter' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Value' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Change' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Percentage' | translate}}</p>
                </ion-col>
                <ion-col col>
                    <p>{{'Trend' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-buttons style="margin-top: 3%;" *ngFor="let x of WP?.result">
            <button ion-button full clear (click)="setstockchosen(x[0])">
                <ion-col class="myCol"  col> {{x[0]}} </ion-col>
                <ion-col class="myCol"  col> {{x[1]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]<0" style="color:red"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]<0 "col style="color:red"> {{x[3]}}</ion-col>
                  <ion-col class="myCol"  col *ngIf="x[2]>0" style="color:green"> {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]>0 "col style="color:green"> {{x[3]}}</ion-col>
                <ion-col class="myCol"  col *ngIf="x[2]==0" > {{x[2]}}</ion-col>
                <ion-col class="myCol"  *ngIf="x[2]==0 "col > {{x[3]}}</ion-col>
                <ion-col  col>
                    <ion-icon right *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                </ion-col>
            </button>
        </ion-buttons>
    </ion-item>
</ion-content>
<!-- <ion-content *ngIf="!anotherbool">
    <companydetails [reuter]="reuter" [rootid]="rootid" [stockchosen]="stockchosen" (send)="getstockchosen($event)"></companydetails>
</ion-content> -->