<ion-header>
    <ion-navbar>
        <ion-title>{{'WatchList'|translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <button ion-button item-end clear icon-only (click)="addToWatchlist()"><ion-icon name='add-circle' is-active="false"></ion-icon></button>

    <div class="list" *ngIf="editpressed">
        <button ion-button (click)="falsepressed()" [hidden]="!editpressed"> {{'Save'|translate}} </button>
        <ion-list *ngIf="List">
            <ion-item *ngFor="let item of List?.result ; let i=index">
                <ion-label> {{item[0]}}</ion-label>
                <ion-checkbox [(ngModel)]="arechosen[i]">{{arechosen[i]}} </ion-checkbox>
            </ion-item>
        </ion-list>

    </div>
    <div class="list" *ngIf="!editpressed ">
        <!-- <button ion-button (click)="changepressed()" [hidden]="hidewatchlast">{{'Edit'|translate}}</button> -->
        <ion-list *ngIf="StockDetails && !showCompanyDetails">
            <ion-item *ngFor="let x of StockDetails?.result; let i=index">
                <!-- <button ion-button full clear (click)="setstockchosen(x[3])" [hidden]="hidewatchlast"> -->
                <button ion-item (click)="setstockchosen(x[3])">

          {{ x[3]+' '+x[0]+' '+x[1]+' '+x[2]}}
                <ion-icon right *ngIf="x[2]>0" name="md-trending-up" color="secondary"></ion-icon>
                <ion-icon *ngIf="x[2]<0" name="md-trending-down" color="danger"></ion-icon>
                </button>
                <button ion-button item-end clear color="danger" icon-only (click)="removeFromWatchlist(i)"><ion-icon name='trash' is-active="false"></ion-icon></button>

                <!-- </button> -->
            </ion-item>
        </ion-list>
        <!--<ion-grid *ngIf="StockDetails && !showCompanyDetails">
            <ion-row ion-item *ngFor="let x of StockDetails?.result">
                <ion-col (click)="setstockchosen(x[3])" col-4> {{x[3]}} </ion-col>
                <ion-col (click)="setstockchosen(x[3])" col-4> {{x[0]}}</ion-col>
                <ion-col (click)="setstockchosen(x[3])" col-4> {{x[2]}}</ion-col>
                <ion-col (click)="setstockchosen(x[3])" col-4> {{x[1]}}</ion-col>
                <ion-col (click)="setstockchosen(x[3])" col-4>
                    <ion-icon *ngIf="x[2]>0" name="md-arrow-up" color="secondary"></ion-icon>
                    <ion-icon *ngIf="x[2]<0" name="md-arrow-down" color="danger"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
-->
        <button ion-item (click)="toen()">
                      {{'BTN_ENGLISH'|translate}}
                    </button>
        <button ion-item (click)="toarab()">
                      {{'BTN_Arabic'|translate}}
                    </button>

    </div>
    <div *ngIf="showCompanyDetails && reuter">
        <companydetails [reuter]="reuter" [rootid]="rootid" [stockchosen]="stockchosen" (send)="getstockchosen($event)"></companydetails>
        <button ion-button full clear (click)="resetstockchosen()" [hidden]="!stockchosen">back</button>

    </div>

</ion-content>