<ion-header>
    <ion-navbar>
        <ion-title>
            {{'News' | Language}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="News?.result.V">
        <ion-item *ngFor="let item of News?.result.V let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
            <button clear class="full"  (click)="getdetails(item[0])">
                <p>{{item[1] | limitTo: 50}}</p>
                <p style="color:#B39058">{{item[2]}}</p>
            </button> 
        </ion-item>

        <!-- <ion-item *ngFor="let item of displayednews let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
            <button clear class="full"  (click)="getdetails(item[0])">
                <p style="font-size: 12px">{{item[1] | limitTo: 50}}</p>
                <p style="font-size: 12px;color: gray">{{item[2]}}</p>
            </button>            
        </ion-item> -->
        <ion-item>
        </ion-item>
    </ion-list>
    <ion-item (click)="More()">{{'More' | Language}}</ion-item>

</ion-content>
<!-- <ion-list *ngIf="MoreNews?.result.V">

</ion-list> -->