<ion-header>
    <ion-navbar>
        <ion-title>
            {{'News' | Language}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="News?.result.V">
        <ion-item  *ngFor="let item of News?.result.V let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
            <button clear class="full"  (click)="getdetails(item[0])">
                <img class="imgThumb" style="width: 75px;" src="https://www.arabfinance.com/News/NewsImages/{{item[4]}}">
                <div class="pThumb" item-text-wrap>
                    <p text-wrap>{{item[1]}}</p>
                    <p style="color:#ffa500;font-size: 0.8em">{{item[2]}}</p>
                </div>
            </button> 
        </ion-item>
    </ion-list>
    <ion-item (click)="More()">{{'More' | Language}}</ion-item>

</ion-content>
<!-- <ion-list *ngIf="MoreNews?.result.V">

</ion-list> -->