<ion-header>
    <ion-navbar>
        <ion-title>
            {{'News' | Language}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="News?.result.V">
        <ion-item *ngFor="let item of News?.result.V" (click)="getdetails(item[0])">
            <p color="dark">{{ item[1] | limitTo: 50 }}</p>
            <br/>
            <p>{{item[2]}}</p>
        </ion-item>

        <ion-item *ngFor="let item of displayednews" (click)="getdetails(item[0])">
            <p color="dark">{{ item[1] | limitTo: 50 }}</p>
            <br/>
            <p>{{item[2]}}</p>
        </ion-item>
        <ion-item>
        </ion-item>
    </ion-list>
    <ion-item (click)="More()">{{'More' | Language}}</ion-item>

</ion-content>
<!-- <ion-list *ngIf="MoreNews?.result.V">

</ion-list> -->