<!--
  Generated template for the AlertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alerts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager>

    <ion-slide>
      <h2>Matched Alerts</h2>
      <ion-list *ngIf="matchedAlerts">
        <ion-row>
          <ion-col col>
            <p>Reuter</p>
          </ion-col>
          <ion-col col>
            <p>Type</p>
          </ion-col>
          <ion-col col>
            <p>Value</p>
          </ion-col>
          <ion-col col>
            <p>Mettime</p>
          </ion-col>
          <ion-col col>
            <p>Criteria</p>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let alert of matchedAlerts; let i=index;">
          <button ion-button full clear color='dark' (click)="alertDetails(i, true)">
                  <ion-col class="myCol"  col> {{alert.Code}} </ion-col>
                  <ion-col class="myCol"  col> {{alert.Type}}</ion-col>
                  <ion-col class="myCol"  col> {{alert.Value}}</ion-col>
                  <ion-col class="myCol"  col> {{alert.MetTime}}</ion-col>
                  <ion-col  col> 
                    {{alert.Criteria}}
                  </ion-col>
              </button>
          <button ion-button item-end clear color="danger" icon-only (click)="deleteAlert(i, true)"><ion-icon name='trash' is-active="false"></ion-icon></button>
        </ion-item>
      </ion-list>

    </ion-slide>

    <ion-slide>
      <h2>Not-Matched Alerts</h2>
      <ion-list *ngIf="nonMatchedAlerts">
        <ion-row>
          <ion-col col>
            <p>Reuter</p>
          </ion-col>
          <ion-col col>
            <p>Type</p>
          </ion-col>
          <ion-col col>
            <p>Value</p>
          </ion-col>
          <ion-col col>
            <p>SetTime</p>
          </ion-col>
          <ion-col col>
            <p>Criteria</p>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let alert of nonMatchedAlerts; let i=index;">
          <button ion-button full color='dark' clear (click)="alertDetails(i, false)">
                <ion-col col> {{alert.Code}} </ion-col>
                <ion-col col> {{alert.Type}}</ion-col>
                <ion-col  col> {{alert.Value}}</ion-col>
                <ion-col  col> {{alert.SetTime}}</ion-col>
                <ion-col  col> 
                  {{alert.Criteria}}
                </ion-col>
            </button>
          <button ion-button item-end clear color="danger" icon-only (click)="deleteAlert(i, false)"><ion-icon name='trash' is-active="false"></ion-icon></button>
        </ion-item>
      </ion-list>

    </ion-slide>
  </ion-slides>
  <button clear block ion-button (click)="goBack()">Back</button>

</ion-content>

<ion-fab style="position:fixed; margin-bottom:6%; margin-right: 1%;" bottom right>
  <button clear (click)="showcreateAlertForm()" ion-fab><p style="font-size:30px;">+</p></button>
</ion-fab>