<!--
  Generated template for the TradingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Trading</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-buttons *ngIf="loggedIn">
        <button ion-item (click)="getportfolio()">Show Portfolio</button>
        <ion-grid *ngIf="portfolioresponse && showportfolio&&token">
            <ion-row *ngFor="let item of portfolioresponse?.result">
                <ion-col>
                    {{item.ReutersCode}}
                </ion-col>
                <ion-col>
                    {{item.AvailableQuantity}}
                </ion-col>
                <ion-col>
                    {{item.AveragePrice}}
                </ion-col>
                <ion-col>
                    {{item.PercentageChange}}
                </ion-col>
                <ion-col>
                    {{item.GainLossPercentage}}
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <button ion-item (click)="getportfoliosummary()">Show Portfolio Summary</button>
        <ion-item *ngIf="Detailsresponse && showsummary&&token">
            <ion-item *ngFor="let item of Detailsresponse?.result">
                {{item}}
            </ion-item>
        </ion-item> -->
        <button ion-item (click)="getorders()">Show Orders</button>
        <ion-grid *ngIf="userorderresponse && showorders&&token">
            <ion-row *ngFor="let item of userorderresponse?.result">
                <ion-col>{{item.ReutersCode}}</ion-col>
                <ion-col>{{item.Price}}</ion-col>
                <ion-col>{{item.TimeTerm}}</ion-col>
                <ion-col>{{item.Quantity}}</ion-col>
                <ion-col>
                    <button ion-item (click)="getorderhistory(item.ID)">View History</button>
                </ion-col>
                <ion-col>
                    <button ion-item (click)="ChangeUpdate()" [hidden]="!checkupdatability(item)">Update</button>
                </ion-col>


                <form *ngIf="ShowUpdate">
                    <ion-item>
                        <ion-label>ReutersCode</ion-label>
                        <ion-input type="text" id="UCode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Price</ion-label>
                        <ion-input type="text" id="UPrice"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Quantity</ion-label>
                        <ion-input type="text" id="UQuantity"></ion-input>
                    </ion-item>
                    <ion-segment>
                        <ion-segment-button (click)="ChooseDay()">
                            Day
                        </ion-segment-button>
                        <ion-segment-button (click)="ChooseWeek()">
                            Week
                        </ion-segment-button>
                        <ion-segment-button (click)="ChooseMonth()">
                            Month
                        </ion-segment-button>
                    </ion-segment>


                    <ion-segment>
                        <ion-segment-button (click)="ChooseMarket()">
                            Market
                        </ion-segment-button>
                        <ion-segment-button (click)="ChooseLimit()">
                            Limit
                        </ion-segment-button>
                    </ion-segment>

                    <button ion-button block type="submit" (click)="UpdateOrder(item)">Update Order</button>
                </form>


                <ion-col>
                    <button ion-item [hidden]="!checkupdatability(item)" (click)="CancelOrder(item.ID)">Cancel</button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="userorderhistoryresponse && showhistory&&token">
            <ion-col>{{userorderhistoryresponse?.result.ReutersCode}}</ion-col>
            <ion-col>{{userorderhistoryresponse?.result.Price}}</ion-col>
            <ion-col>{{userorderhistoryresponse?.result.Status}}</ion-col>
            <ion-col>{{userorderhistoryresponse?.result.TimeTerm}}</ion-col>
        </ion-grid>
        <button ion-item (click)="ChangeInsert()">Add Order</button>
    </ion-buttons>

    <form *ngIf="showInsert && loggedIn">
        <ion-item>
            <ion-label>ReutersCode</ion-label>
            <ion-input [(ngModel)]="userorder.ReutersCode" name="Code"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Quantity</ion-label>
            <ion-input [(ngModel)]="userorder.Quantity" name="Quantity"></ion-input>
        </ion-item>
        <ion-segment>
            <ion-segment-button value="Day" (click)="ChooseDay()">
                Day
            </ion-segment-button>
            <ion-segment-button value="Week" (click)="ChooseWeek()">
                Week
            </ion-segment-button>
            <ion-segment-button value="Month" (click)="ChooseMonth()">
                Month
            </ion-segment-button>
        </ion-segment>

        <ion-segment>
            <ion-segment-button value="Buy" (click)="ChooseBuy()">
                Buy
            </ion-segment-button>
            <ion-segment-button value="Sell" (click)="ChooseSell()">
                Sell
            </ion-segment-button>
            <ion-segment-button value="SellT0" (click)="ChooseSellT0()">
                Sell T+0
            </ion-segment-button>
            <ion-segment-button value="SellT1" (click)="ChooseSellT1()">
                Sell T+1
            </ion-segment-button>
        </ion-segment>

        <ion-segment>
            <ion-segment-button value="Market" (click)="ChooseMarket()">
                Market
            </ion-segment-button>
            <ion-segment-button value="Limit" (click)="ChooseLimit()">
                Limit
            </ion-segment-button>

        </ion-segment>
        <ion-item *ngIf="EnablePrice">
            <ion-label>Price</ion-label>
            <ion-input [(ngModel)]="userorder.Price" name="Price"></ion-input>
        </ion-item>

        <button ion-button block type="submit" (click)="CreateUpdateOrder()">Make Order</button>
    </form>

    <ion-item *ngIf="!loggedIn">
        <h2 style="text-align:center">You are not logged In</h2>
        <br>

        <button ion-button block (click)="gotoLogin()">Login</button>
    </ion-item>
    <!-- <form>
        <ion-item>
            <ion-label>ReutersCode</ion-label>
            <ion-input type="text" id="UCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Price</ion-label>
            <ion-input type="text" id="UPrice"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Quantity</ion-label>
            <ion-input type="text" id="UQuantity"></ion-input>
        </ion-item>
        <ion-segment>
            <ion-segment-button (click)="ChooseDay()">
                Day
            </ion-segment-button>
            <ion-segment-button (click)="ChooseWeek()">
                Week
            </ion-segment-button>
            <ion-segment-button (click)="ChooseMonth()">
                Month
            </ion-segment-button>
        </ion-segment>


        <ion-segment>
            <ion-segment-button (click)="ChooseMarket()">
                Market
            </ion-segment-button>
            <ion-segment-button (click)="ChooseLimit()">
                Limit
            </ion-segment-button>
        </ion-segment>

        <button ion-button block type="submit">Update Order</button>
    </form>
 -->
    <!-- (click)="UpdateOrder()" -->

</ion-content>