<ion-header>
    <ion-navbar>
        <ion-title>{{'Trading' | Language}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-segment *ngIf="loggedIn && token"  [(ngModel)]="SelectedSegment">
        <ion-segment-button value="Portfolio" (click)="getportfolio()">{{'Show Portfolio' | Language}}</ion-segment-button>
        <ion-segment-button value="Orders" (click)="getorders()">{{'Show Orders' | Language}}</ion-segment-button>
        <ion-segment-button value="Insert" (click)="ChangeInsert()">{{'Add Order' | Language}}</ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="showInsert && loggedIn && token">
        <ion-card-header>
            {{"Add Order" | Language}}
        </ion-card-header>
        <ion-card-content>
            <form>
                <ion-item>
                    <ion-label>{{'Reuter' | Language}}</ion-label>
                    <ion-input [(ngModel)]="userorder.ReutersCode" name="Code"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>{{'Quantity' | Language}}</ion-label>
                    <ion-input [(ngModel)]="userorder.Quantity" name="Quantity"></ion-input>
                </ion-item>
                <ion-card>
                    <ion-card-header>{{'Time Term' | Language}}</ion-card-header>
                    <ion-card-content>
                        <ion-segment>
                            <ion-segment-button value="Day" (click)="ChooseDay()">
                                {{'Day' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="Week" (click)="ChooseWeek()">
                                {{'Week' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="Month" (click)="ChooseMonth()">
                                {{'Month' | Language}}
                            </ion-segment-button>
                        </ion-segment>
                    </ion-card-content>

                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{'Side' | Language}}
                    </ion-card-header>
                    <ion-card-content>
                        <ion-segment>
                            <ion-segment-button value="Buy" (click)="ChooseBuy()">
                                {{'Buy' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="Sell" (click)="ChooseSell()">
                                {{'Sell' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="SellT0" (click)="ChooseSellT0()">
                                {{'Sell_T0' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="SellT1" (click)="ChooseSellT1()">
                                {{'Sell_T1' | Language}}
                            </ion-segment-button>
                        </ion-segment>
                    </ion-card-content>
                </ion-card>

                <ion-card>
                    <ion-card-header>{{'Price Type' | Language}}</ion-card-header>
                    <ion-card-content>
                        <ion-segment>
                            <ion-segment-button value="Market" (click)="ChooseMarket()">
                                {{'Market' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="Limit" (click)="ChooseLimit()">
                                {{'Limit' | Language}}
                            </ion-segment-button>

                        </ion-segment>
                    </ion-card-content>
                </ion-card>
                <ion-item *ngIf="EnablePrice">
                    <ion-label>{{'Price' | Language}}</ion-label>
                    <ion-input [(ngModel)]="userorder.Price" name="Price"></ion-input>
                </ion-item>

                <button ion-button block type="submit" (click)="CreateUpdateOrder()">{{'Make Order' | Language}}</button>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-item *ngIf="!loggedIn||!token">
        <h2 style="text-align:center">{{'You are not logged In'| Language }}</h2>
        <br>

        <button ion-button block (click)="gotoLogin()">{{'Login' | Language}}</button>
    </ion-item>

    <ion-item *ngIf="portfolioresponse && showportfolio && token && loggedIn">
        <ion-grid>
            <ion-row *ngFor="let item of portfolioresponse?.result;let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="row">
                <ion-col>
                    {{item.ReutersCode}}
                </ion-col>
                <ion-col>
                    {{item.AvailableQuantity}}
                </ion-col>
                <ion-col>
                    {{item.LastTrade}}
                </ion-col>
                <ion-col>
                    {{item.PercentageChange}}
                </ion-col>
                <ion-col>
                    {{item.GainLossPercentage | aroundTo: 2 }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item *ngIf="userorderresponse && showorders && token && loggedIn">
        <ion-grid>
            <ion-row>
                <ion-col>{{'Reuter' | Language}}</ion-col>
                <ion-col>{{'Quantity' | Language}}</ion-col>
                <ion-col>{{'Price' | Language}}</ion-col>
                <ion-col>{{'Time Term' | Language}}</ion-col>
                <ion-col>{{'Status' | Language}}</ion-col>
                <ion-col>{{'Side' | Language}}</ion-col>
                <ion-col>{{'Price Type' | Language}}</ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
            </ion-row>
            <ion-row *ngFor="let item of userorderresponse?.result;let i = index;let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" class="row">
                <ion-col> {{item.ReutersCode}}</ion-col>
                <ion-col>{{item.Quantity}}</ion-col>
                <ion-col>{{item.Price}}</ion-col>
                <ion-col>{{showTimeTerm(item.TimeTerm) | Language}}</ion-col>
                <ion-col>{{showOrderStatus(item.Status) | Language}}</ion-col>
                <ion-col>{{showOrderSide(item.Side) | Language}}</ion-col>
                <ion-col>{{showPriceType(item.PriceType) | Language}}</ion-col>
                <ion-col>
                    <button ion-item [ngClass]="{ odd: odd, even: even }" class="row" (click)="getorderhistory(item.ID)">{{'View History' | Language}}</button>
                </ion-col>
                <ion-col>
                    <button ion-item [ngClass]="{ odd: odd, even: even }" class="row" (click)="ChangeUpdate(i,item)" [hidden]="!checkupdatability(item)">{{'Update' | Language}}</button>
                </ion-col>

                <form *ngIf="ShowUpdate[i]">
                    <ion-item>
                        <ion-label>{{'Reuter' | Language}}</ion-label>
                        <ion-input [(ngModel)]="updateuserorder.ReutersCode" name="UCode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{'Quantity' | Language}}</ion-label>
                        <ion-input [(ngModel)]="updateuserorder.Quantity" name="UQuantity"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-segment>
                            <ion-segment-button value="UDay" (click)="ChooseDay()">
                                {{'Day' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="UWeek" (click)="ChooseWeek()">
                                {{'Week' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="UMonth" (click)="ChooseMonth()">
                                {{'Month' | Language}}
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                    <ion-item>
                        <ion-segment>
                            <ion-segment-button value="UMarket" (click)="ChooseMarket()">
                                {{'Market' | Language}}
                            </ion-segment-button>
                            <ion-segment-button value="ULimit" (click)="ChooseLimit()">
                                {{'Limit' | Language}}
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                    <ion-item *ngIf="EnablePrice">
                        <ion-label>{{'Price' | Language}}</ion-label>
                        <ion-input ion-input [(ngModel)]="updateuserorder.Price" name="UPrice"></ion-input>
                    </ion-item>
                    <button ion-button block type="submit" (click)="UpdateOrder(item)">{{'Update Order' | Language}}</button>
                </form>

                <ion-col>
                    <button ion-item [ngClass]="{ odd: odd, even: even }" class="row" [hidden]="!checkupdatability(item)" (click)="CancelOrder(item.ID)">{{'Cancel' | Language}}</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>