.button-fab {
    z-index: 100;
    position: fixed;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #eaeaf1;
}

.button-inner {
    flex-flow: row;
    white-space: normal;
}