<ion-list>
    <ion-list-header></ion-list-header>
    <button ion-item *ngIf="!loggedIn" (click)="login()">{{'Login' | Language}}</button>
    <button ion-item *ngIf="loggedIn" (click)="logout()">{{'Logout' | Language}}</button>
    <button ion-item *ngIf="loggedIn" (click)="goToAlerts()">{{'Alerts' | Language}}</button>
    <button ion-item (click)="goToSettings()">{{'Change Language' | Language}}</button>
    <button ion-item (click)="goToAbout()">{{'About Us title' | Language}}</button>
</ion-list>